.mypage {
	text-align: center;
	margin: 0;
	background-color: aquamarine;
}

#slackDisplayImage {
	width: 150px;
	height: 150px;
	border-radius: 70px;
	margin: 20px;
}

#slackUserName {
	margin-top: px;
	font-size: 70px;
	font-weight: bold;
}

#currentDayOfTheWeek,
#currentUTCTime,
#myTrack {
	font-size: 50px;
}

#githubURL {
	display: block;
	margin-top: 50px;
}
